/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --title-color: #ffc2e6;
  --text-color: #353430;
  --accent-color: #ff0070;
  --accent-text-color: #353430;
  --heading-shadow-color: #353430;
  --heading-text-color: #353430;
  --otline-color: 1px solid rgba(50, 49, 45, 0.4);
  --after-before-border: #ff0070;
  --background-image: url(../images/cover-image-light.png);
  --header-botton: var(--text-color);
  --hover-botton: #353430;
  --background-color: white;
}

.page.theme_light .rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --title-color: #ffc2e6;
    --text-color: #353430;
    --accent-color: #ff0070;
    --accent-text-color: #353430;
    --heading-shadow-color: #353430;
    --heading-text-color: #353430;
    --otline-color: 1px solid rgba(50, 49, 45, 0.4);
    --after-before-border: #353430;
    --background-image: url(../images/cover-image-light.png);
    --header-botton: var(--text-color);
    --hover-botton: #ff0070;
    --background-color: white;
  }
}

/* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
