/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --title-color: #ffc2e6;
  --text-color: #353430;
  --background-image: url(../images/cover-image-light.png);
  --accent-color: #ff0070;
  --accent-text-color: #353430;
  --heading-shadow-color: #353430;
  --heading-text-color: #353430;
  --otline-color: 1px solid rgba(50, 49, 45, 0.4);
  --rec-indicator-color: transparent;
  --background-color: #fff;
  --after-before-border: #ff0070;
  --header-botton: #353430;
  --header-text: #ff8dcb;
}
