/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --accent-text-color: #000028;
  --heading-shadow-color: #ff0070;
  --heading-text-color: #ff0070;
  --otline-color: 1px solid rgba(255, 0, 112, 0.4);
  --rec-indicator-color: #ff0070;
  --header-button: #ff0070;
  --after-before-border: #ff0070;
  --background-color: var(--accent-text-color);
  --font-size-mobile: 116px;
}

@media (width > 375px) {
  .content__section {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

@media (width > 768px) {
  .header__theme-menu-list {
    display: grid;
    grid-template-columns: 75px 75px 75px;
  }
}

@media (width <= 375px) {
  .header-description {
    margin-inline-start: 10px;
    width: 355px;
    height: 117px;
  }
}

@media (width <= 768px) {
  .header-description {
    margin-inline-start: 384px;
    width: 364px;
    height: 117px;
  }
}

@media (width <= 1024px) {
  .header-description {
    margin-inline-start: 517px;
  }
}

@media (width <= 375px) {
  .content__gallery {
    
  }
}
